#headermain {
  min-height: 100px;

  #button-change-theme {
    border-radius: 50px;
    width: 48px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #button-add {
    border-radius: 50px;
    width: 48px;
    height: 46px;
    align-items: center;
    justify-content: center;
    transition: all ease 0.3s;
  }

  #button-login {
    border-radius: 50px;
    width: 48px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.3s;
  }

  ul {
    a {
      display: flex;
      font-weight: 700;
      align-items: center;
      transition: all ease 0.2s;
      font-size: 13px;
      &:hover {
        color: #d8c4b6;
      }
    }
  }
}
