#main {
    #main-content {
        #content-wrapper #navigation {
            a {
                display: flex;
                gap: 8px;
                font-weight: 600;
                align-items: center;
                font-size: 14px;
                padding: 4px;
                border-radius: 5px;
            }

            .active {
                background-color: rgb(232, 232, 232);

            }
        }
    }
}