#register {
    height: 100vh;
    display: flex;
  
    #left {
      flex: 0.63;
      height: 100vh;
      background-color: #f5efe7;
    }
  
    #right {
      color: white;
      flex: 0.37;
      background-color: #121d2f;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 128px 32px;
  
      #title {
        font-size: 42px;
        letter-spacing: 2px;
      }
  
      form {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 24px;
        gap: 32px;
        text-align: center;
  
        input {
          background-color: #283241;
          width: 100% !important;
          padding: 18px 20px;
          border-radius: 6px;
          font-size: 20px;
  
          &::placeholder {
            color: #959595;
            font-weight: 900;
          }
        }
  
        #done-btn {
          background-color: #090f18;
          font-size: 32px;
          font-weight: bold;
          padding: 8px 0;
          border-radius: 8px;
          transition: all ease 0.3s;
          width: 100%;
  
          &:hover {
            background-color: white;
            color: black;
            border-radius: 20px;
            scale: 1.05;
          }
        }
  
        #change {
          transition: all ease 0.3s;
  
          span {
            font-weight: bold;
          }
          &:hover {
            color: #acacac;
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 1024px) {
    #register {
      #left {
        flex: 0.5;
      }
  
      #right {
        flex: 0.5;
      }
    }
  }
  
  @media screen and (max-width: 768px) {
    #register {
      #left {
        display: none;
      }
  
      #right {
        flex: 1;
      }
    }
  }
  
  @media screen and (max-width: 640px) {
    #register {
      #right {
        padding: 64px 24px;
      }
    }
  }
  